{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/clean">clean log file</a></li>
        <li><a href="/count">count SCSI</a></li>
        <li><a href="/ismon">ismon</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h3>Erik's Toolbox</h3>
    <div style="font-size:10px; font-family: monospace" >
        <code class="language-html" data-lang="html">
            <p > {% for line in output %}
                    <p> {{ line }} </p>
                {% endfor %}
            </p>
        </code>
    </div>
{% endblock %}