{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/clean">clean log file</a></li>
        <li><a href="/count">count SCSI</a></li>
        <li class="active"><a href="/ismon">ismon</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1>Erik's Toolbox</h1>
    <p>
        Input: ismon files
    </p>
    <p>
        Ouput: Reporting data
    </p>
    <p>To be implemented yet</p>
{% endblock %}